include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Regular.woff2') format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Medium.woff2') format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Bold.woff2') format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Преимущества
				hr

				h3 Карточка

				+benefit-item('people', 'Запись профилей','ультразвуковых сигналов<br>и температуры тестером TM5')
				pre.
					+benefit-item('people', 'Запись профилей','ультразвуковых сигналов<br>и температуры тестером TM5')
				+benefits-block([
					{svg: 'cubs', title: ' Маркировка<br>конденсатоотводчиков', txt: 'на технологической схеме<br>и по месту'},
					{svg: 'people', title: 'Запись профилей', txt: 'ультразвуковых сигналов<br>и температуры тестером TM5'},
					{svg: 'chart', title: 'Определение размера<br>утечки', txt: 'и состояния каждого<br>конденсатоотводчика'},
					{svg: 'doc', title: 'Составление отчёта', txt: 'с анализом результатов<br>и рекомендациями'}
				])
				pre.
					+benefits-block([
						{svg: 'cubs', title: ' Маркировка<br>конденсатоотводчиков', txt: 'на технологической схеме<br>и по месту'},
						{svg: 'people', title: 'Запись профилей', txt: 'ультразвуковых сигналов<br>и температуры тестером TM5'},
						{svg: 'chart', title: 'Определение размера<br>утечки', txt: 'и состояния каждого<br>конденсатоотводчика'},
						{svg: 'doc', title: 'Составление отчёта', txt: 'с анализом результатов<br>и рекомендациями'}
					])
