include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты

				.container-dashboard__content
					ul.ui-components
						li Lorem ipsum dolor sit amet 
						li Lorem ipsum dolor sit amet 
						li Lorem ipsum dolor sit amet 
						li Lorem ipsum dolor sit amet 
							
					hr
					.prime-bg(style="padding:40px")
						ul
							li Lorem ipsum dolor sit amet 
							li Lorem ipsum dolor sit amet 
							li Lorem ipsum dolor sit amet 
							li Lorem ipsum dolor sit amet
					hr
					h3 Блок с тенью .shadow-card
					.shadow-card
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					hr
					h3 Текст + картинка
					.picture-cards
						//=======single card ====
						.picture-card
							.picture-card__img
								+pic-sm-ui('img2', 340, 530, 737, 530, 'img-cover')
							.picture-card__info
								.h3 Специалисты, которые проводят обследование ваших конденсатоотводчиков
								ul
									li Обладают глубокими знаниями об арматуре пароконденсатных систем
									li Точно знают варианты применения всех типов конденсатоотводчиков
									li Прошли обучение по использованию системы TRAPMAN® TM5 на заводе TLV.

						//=======single card ====
						.picture-card
							.picture-card__img
								+pic-sm-ui('img3', 340, 530, 737, 530, 'img-cover')
							
							.picture-card__info
								.h3 Вы получите экспертные рекомендации, которые помогут вашему предприятию

								ul
									li Улучшить технологические процессы
									li Исключить производственный брак
									li Повысить качество продукции.
						//======.card-icon =====
						h3 компонент  иконка + текст
						.card-icon
							.card-icon__img
								+svg-icon-ui('cubs')
							.card-icon__text
								.h3 1. Постановка и обсуждение задачи
								
								p Вы нам звоните +7 (812) 602-77-70 или заполняете небольшой опросный лист (занимает 3-5 минут).  В течение 1 часа наш специалист с вами связывается,чтобы ответить на вопросы, обсудить условия  и договориться о встрече на вашем объекте

							