include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Regular.woff2') format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Medium.woff2') format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('../fonts/Montserrat-Bold.woff2') format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
			*[class^="col-"]{
				height:50px;
				background-color: pink;
			}
			.col-1{
				grid-column: span 1;
			}
			.col-2{
				grid-column: span 2;
			}
			.col-3{
				grid-column: span 3;
			}
			.col-4{
				grid-column: span 4;
			}
			.col-5{
				grid-column: span 5;
			}
			.col-6{
				grid-column: span 6;
			}
			.col-7{
				grid-column: span 7;
			}
			.col-8{
				grid-column: span 8;
			}
			.col-11{
				grid-column: span 11;
			}
			.col-12{
				grid-column: span 12;
			}
			.col-9{
				grid-column: span 9;
			}
			.col-10{
				grid-column: span 10;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h3  grid-column: span 1;
				.d-grid
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
					.col-1
				hr
				h3  grid-column: span 2;
				.d-grid
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
					.col-2
				hr
				h3  grid-column: span 3;
				.d-grid
					.col-3
					.col-3
					.col-3
					.col-3
				hr
				h3  grid-column: span 4;
				.d-grid
					.col-4
					.col-4
					.col-4
				hr
				h3  grid-column: span 5; + grid-column: span 2;
				.d-grid
					.col-5
					.col-5
					.col-2
				hr
				h3  grid-column: span 6;
				.d-grid
					.col-6
					.col-6
				hr
				h3  grid-column: span 7; + grid-column: span 5;
				.d-grid
					.col-7
					.col-5
				hr
				h3  grid-column: span 8; + grid-column: span 4;
				.d-grid
					.col-8
					.col-4
				hr
				h3  grid-column: span 9; + grid-column: span 3;
				.d-grid
					.col-9
					.col-3
				hr
				h3  grid-column: span 10; + grid-column: span 2;
				.d-grid
					.col-10
					.col-2
				hr
				h3  grid-column: span 11; + grid-column: span 1;
				.d-grid
					.col-11
					.col-1
				