include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Вспомогрательные классы

				.container-dashboard__content
				h3 bg-blue  - темный фоновый цвет 
				h3 Заголовок секции по центру
					pre.
						.section-title--center{
							text-align: center;
							max-width: 1085px;
							margin-inline: auto;
						}
				 
				h3 .img-cover картинка по размерам родит блока
				hr
				h3 Блок с тенью .shadow
				.shadow
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				