include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		//- link(rel="styesheet", href="../libs/scroll/scroll.css")
		link(rel="stylesheet", href="../css/main.css")

		title UI-KIT
		style.
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}			
			@font-face {
				font-family: 'SuisseIntl-Regular';
				src: url(../fonts/SuisseIntl-Regular.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto Serif';
				src: url(../fonts/RobotoSerif_SemiExpanded-Medium.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка продукта
				.product-colors
					label.fake-input-label
						input(type="radio" name="color-item")
						span.color-item(style="background:#2E394D")

					label.fake-input-label
						input(type="radio" name="color-item")
						span.color-item(style="background:#E3000F")

					label.fake-input-label
						input(type="radio" name="color-item")
						span.color-item(style="background:#93AB42")
				hr