include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}			
			@font-face {
				font-family: 'Suisse Intl';
				src: url(../fonts/suisse-intl-regular.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto Serif';
				src: url(../fonts/RobotoSerif_SemiExpanded-Medium.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					
					.h1 Headline H1 40
					pre.
						.h1 Headline H1 40
					hr
					.h1-serif Headline H1 40
					pre.
						.h1-serif Headline H1 40
					hr
					.title Вход
					pre.
						.title Вход
					hr
					.txt-24 Regular 24
					pre.
						.txt-24 Regular 24
					hr
					.txt-20 Regular 20
					pre.
						.txt-20 Regular 20
					hr
					.txt-18 Regular 18
					pre.
						.txt-18 Regular 18
					hr
					.semi-16 Semi bold 16
					pre.
						.semi-16 Semi bold 16
					hr
					.txt-14 Regular 14
					pre.
						.txt-14 Regular 14
					hr
					.txt-accent Акцентный текст
					pre.
						.txt-accent Акцентный текст
					hr
					.link-item Ссылка с подчеркиванием по наведению	
					pre.
						.link-item Ссылка с подчеркиванием по наведению
					hr
					h3 ссылка со стрелкой спрфва
					a(href="#!").txt-24.chevron-link 
						span Для мужчин
						svg.svg-chevron-right
							use(href='../img/sprite.svg#svg-chevron-right')
					pre.
						a(href="#!").txt-24.chevron-link 
							span Для мужчин
							svg.svg-chevron-right
								use(href='./img/sprite.svg#svg-chevron-right')
					a(href="#!").txt-24.chevron-link
						svg.svg-chevron-left
							use(href='../img/sprite.svg#svg-chevron-left')
						span Вернуться
					pre.
						a(href="#!").txt-24.chevron-link
							svg.svg-chevron-left
								use(href='../img/sprite.svg#svg-chevron-left')
							span Вернуться
					
					hr
					.link-item Ссылка с подчеркиванием по наведению
					pre.
						.link-item Ссылка с подчеркиванием по наведению
					hr
					.accent-link Голубая ссылка без подчеркивания
					pre.
						.accent-link Голубая ссылка без подчеркивания
					hr
					.blue-link Голубая ссылка с подчеркиванием
					pre.
						.blue-link Голубая ссылка с подчеркиванием
					hr
					.link-text Элемент ссылки с подчеркиванием
					pre.
						.link-text Элемент ссылки с подчеркиванием
					