include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}			
			@font-face {
				font-family: 'Suisse Intl';
				src: url(../fonts/suisse-intl-regular.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto Serif';
				src: url(../fonts/RobotoSerif_SemiExpanded-Medium.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					
					.h1 Headline H1 40
					pre.
						.h1 Headline H1 40
					hr
					.h1-bold Headline H1 40
					pre.
						.h1-bold Headline H1 40
					hr
					.h2 Title 30px
					pre.
						.h2 Title 30px
					hr
					.h2-semi Title 30px
					pre.
						.h2-semi Title 30px
					hr
					.h3 Title 25px
					pre.
						.h3 Title 25px
					hr
					.title Title 18px
					pre.
						.title Title 18px
					hr
					.txt Text 15px
					pre.
						.txt Text 15px
					hr
					.txt-12 Text 12px
					pre.
						.txt-12 Text 12px
					hr
					.txt-bold text bold
					pre.
						.txt-bold text bold

					.h1
						| Диагностика<br>
						span.txt-red конденсато
						span.txt-prim отводчиков
					pre.
						.h1
							| Диагностика<br>
							span.txt-red конденсато
							span.txt-prim отводчиков