.footer{
	background: var(--black);
	padding-block:20px;
	color: var(--white);
	&-container{
		justify-content: space-between;
		gap:50px;
		@media (max-width: 1023px) {
			flex-direction: column-reverse;
		}
	}
	&-info{
		width: 390px;
		flex-shrink: 0;
	}
	&-map{
		flex-grow: 1;
		max-width: 815px;

	}
	.logo{
		
		
	}
	
}