//===== clients-experience ====
section.clients-experience
	.container
		.section-title
			h2.h1 Опыт наших клиентов — лучшее тому подтверждение
		
		p.h2.txt-prime Один котёл вместо трёх: экономия 71 000 000 руб/год при разовом вложении 5,8 млн руб.

		+benefits-block([
			{svg: '', title: ' Заказчик', txt: 'Крупное предприятие в Санкт-Петербурге', cl:'h3'},
			{svg: '', title: 'Проблема:', txt: 'Замерзание паропроводов в зимний период из-за нехватки пара при двух паровых котлах по 20 т/час, работающих на полную мощность.', cl:'h3'},
			{svg: '', title: 'Намерение заказчика:', txt: 'Приобрести третий котёл.', cl:'h3'},
			{svg: '', title: 'Наше решение:', txt: 'Вместо приобретения третьего котла установить конденсатоотводчики на подводящих трубопроводах и потребителях.', cl:'h3'}
		])(class="h-auto")