//============FOOTER============
footer.footer
	.container
		.content-grid.footer-top
			.footer-logo
				a(href="#!").logo
					+svg-icon('logo')
			//========nav column========
			nav.menu-nav
				//=====block====
				.menu-nav-block
					.semi-16 Для мужчин
					a(href="#!") Весна 2024 Мужская коллекция
					a(href="#!") Зима 2024 Мужская коллекция
				//=====block====
				.menu-nav-block
					.semi-16 Для женщин
					a(href="#!") Весна 2024  Женская коллекция
					a(href="#!") Зима 2024 Женская коллекция
			//========nav column========
			nav.menu-nav.menu-nav--right
				//=====block====
				.menu-nav-block
					a(href="#!") О бренде
					a(href="#!") Вакансии
					a(href="#!") Контакты
					a(href="#!") Где купить
	
				//=====block====
				.menu-nav-block
					a(href="#!") Технологии и материалы
					a(href="#!") Таблица размеров
					a(href="#!") Уход за изделеем

		//======FOOTER BOTTOM ROW====
		.footer-bottom.d-flex
			.footer-copiryght
				p &copy;NorthBloom  1997 - 2024 г.
			
			.footer-bottom__right.d-flex
				//======social=======
				.social-block
					a(href="#!")
						img(src="./img/svg-social/vk2.svg" alt="vk")
					a(href="#!")
						img(src="./img/svg-social/vc2.svg" alt="vc")
					a(href="#!")
						img(src="./img/svg-social/dzen2.svg" alt="dzen")
					a(href="#!")
						img(src="./img/svg-social/tg2.svg" alt="tg")
				//=======btn======
				.footer-button
					button(type="button").btn.btn--slim Написать вопрос директору