//=======HERO=====
section.hero
	.container
		.hero-title
			h1.h1
				| Диагностика<br>
				span.txt-red конденсато
				span.txt-prim отводчиков
			p.subtitle.txt-prime Полная информация о состоянии и ресурсе каждого конденсатоотводчика
		.hero-desck
			p Планируйте заранее ремонты  и закупки. Сэкономьте 60% времени на обслуживание конденсатоотводчиков и от&nbsp;15&nbsp;до&nbsp;40% затрат на топливо.
		//=== data-target="modal-form"  у кнопок , которые открывают модалку с data-modal="modal-form" , скрипт в main.js  на строке 107==== 
		button.btn(type="button" data-target="modal-form") Получить консультацию специалиста'

