//=====как мы работаем====
section.how-work
	.container
		h2.h1 Как мы работаем
		.border-title
			.h2 Первое обследование
	.first-stage-list
		+card-icon('hands', '1. Постановка и обсуждение задачи')
			p Вы нам звоните +7 (812) 602-77-70 или заполняете небольшой опросный лист (занимает 3-5 минут).  В течение 1 часа наш специалист с вами связывается,чтобы ответить на вопросы, обсудить условия и договориться о встрече на вашем объекте
			+btn('Заполнить опросный лист')
		
		+card-icon('doc', '2. Пре-аудит')
			ul
				li Осмотр площадки совместно с вашими специалистами 
				li Анализ объёма работ
				li Оценка доступности конденсатоотводчиков
				li Решение о необходимости маркировки
				li Расчёт стоимости обследования
		
		+card-icon('tools', '3. Подготовительные работы')
			p Подготовка карты объекта с разбивкой на области. Присвоение кода каждой области.
			.title Вы точно знаете:
			ul
				li Сколько у вас конденсатоотводчиков
				li Где какой конденсатоотводчик стоит
				li В каком он состоянии
			p В будущем сможете безошибочно определить местонахождение каждого конденсатоотводчика, и вам не придётся тратить время на его поиски