sections.service-pros
	.container
		.section-title.section-title--center
			.h3.txt-prime За счет чего достигаеться этот результат?
			h2.h1  Самая точная система диагностики среди существующих 
		.service-pros