.benefits-block{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@media (max-width: 1199px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.benefit-item{
	padding: 70px 35px;
	background: #fff;
	border: 1px solid var(--divider-colr);
	min-height: 435px;
	&>*+*{margin-top: 15px;}
	&__text>*+*{margin-top: 15px;}
	p:not(.title){
		color: var(--paragraph-color);
	}
	@media (max-width: 767px) {
		padding: 70px 20px;
		min-height: 317px;
	}
}