.card-icon, .card-icon__img{
	display: flex;
	align-items: center;
}
.card-icon{
	column-gap: 75px;
	background-color: #fff;
	&__img{
		justify-content: center;
		flex-shrink: 0;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		outline-offset: -16px;
		outline: 1px solid var(--prime);
	}
	&__text{
		flex-grow: 1;
		&>*+*{margin-top: 20px;}
	}
}