.menu-list{
	display: flex;
	align-items: center;
	column-gap:44px;
	li +li{margin-top: 0;}
	a{
		font-weight: 700;
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: var(--black);
		white-space: nowrap;
	}
}