extends ../layouts/layout.pug

block content
	.start-page
		h1 Steam Systems
		.start-page__cards
			a(href="./ui/colors.html") UI
			a(href="main.html") Главная
			
block variables
	-var title = "Steam System";
