extends ../layouts/layout.pug

block content
	.page-wrapper
		
		include ../sections/_header
		main.main
			include ../sections/_hero
			include ../sections/_pros
			include ../sections/_benefits
			include ../sections/_comparison-table.pug
			
			include ../sections/_service-pros
			//===== pros 2 =====
			section.pros.pros--center
				.prime-bg
					.pros-text.h3
						p ТМ5 – единственный в мире прибор, который при анализе результатов измерений учитывает индивидуальный шумовой профиль конкретной модели конденсатоотводчика
			
			include ../sections/_specialists
			//===== pros 3 =====
			section.pros.pros--center
				.prime-bg
					.pros-text.h3
						p “Паровые системы” — единственная компания в России, которая использует для диагностики конденсатоотводчиков аппаратно-программный комплекс TRAP MANAGER TM5
			
		include ../sections/_report-slider
		include ../sections/_result
		include ../sections/_footer
		


block variables
	-var title = "Главная";
