extends ../layouts/layout.pug

block content
	.page-wrapper
		
		include ../sections/_header
		main.main
			include ../sections/_hero
			include ../sections/_pros
			include ../sections/_benefits

			include ../sections/_comparison-table.pug
			
		include ../sections/_footer
		


block variables
	-var title = "Главная";
